* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    width: 100%;
    height: 3.3125em;
}

.content {
    width: 95%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content input {
    width: 215px;
    height: 28px;

    border-color: #dcdcdc;
    border-style: solid;
    border-radius: 2px;

    background: #FAFAFA;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin: 0 5px;
}

.menu li a img {
    max-width: 21.18em;
}